<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{{#if result}}
    <h2>{{result}} - {{lead.company}}</h2>
{{else if lead.company}}
    {{#if lead._id}}
        <h2>Edit - {{lead.company}}</h2>
    {{else}}
        <h2>Add new - {{lead.company}}</h2>
    {{/if}}
{{/if}}

{{#if lead.company}}
<form method="POST" action="/add">
    <input type="text" name="company" placeholder="company" value="{{lead.company}}" required maxlength="100">
    <input type="text" name="contact" placeholder="contact" value="{{lead.contact}}" maxlength="100">
    <input type="text" name="amount" placeholder="amount"  value="{{lead.amount}}"maxlength="100">
    <input type="date" name="close_date" placeholder="close_date"  value="{{shortDate lead.close_date}}"maxlength="100">
    <input type="hidden" name="id" value="{{lead._id}}">

    <button>{{#if lead._id}}Update{{else}}Add{{/if}}</button>
    <button>Delete</button>
</form>
{{/if}}

<script>
    $(document).ready(function(){
        var buttons = $('button');
        buttons.on('click', function() {
            var $this = $(this);
            var action = $this.text().toLowerCase();
            if (action == 'update') { action = 'add'; }
            $("form").attr("action", "/"+action);
        });
    });
</script>
</body>
