<html>
    <body>
        <a href="/">Home</a>
{{#if result}}
    <h2>{{title}} details</h2>
    <li>Author: {{result.author}}</li>
    <li>Pub. date: {{result.pubdate}}</li>
    <p>
    <a href="/delete?title={{result.title}}">Delete</a>
    </p>
{{else}}
        <h2>{{title}} not found</h2>
{{/if}}

    </body>
</html>